<h1>Here's the list of the channels</h1>

<ul>
<% @channels.each do |channel|  %>
  <li>
    <%= cl_image_tag channel.photo.key, height: 100, width: 100, crop: :fill %>
    <%= channel.name %>
    <% if @channeluser.channel.include?(current_user) %>
      <%= link_to "visit channel", channel_path(channel) %>
    <% else %>
      <%= link_to "Join this channel",
      channel_join_path(channel),
      method: :post %>
    <% end %>
    <%= link_to "Delete",
    channel_path(channel),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
    <%= link_to "Edit", edit_channel_path(channel) %>
  </li>
<% end %>
</ul>
