<div class="home-container">
    <div class="image-banner">
      <div class="title-description">
        <h2><mark>Welcome back to <span>lovsquad</span>, @<%= current_user.username %>!</mark></h2>
        <%# <h3>Select a channel:</h3> %>

        <%# <img src="https://images.unsplash.com/photo-1592329347810-258afdd206bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2831&q=80" alt="homepage banner"> %>
      </div>

    </div>

  <div class="grid-homepage">
    <% @channels.each do |channel|  %>
    <div class="blog-card">
      <div class="image-searchcard">
        <%= cl_image_tag channel.photo.key %>
      </div>
      <div class="description">
        <h3> <%= channel.name %> </h3>
        <p> <%= channel.description %> </p>
        <% if current_user.channelusers.select { |channeluser| channeluser.channel_id == channel.id}.empty? %>
          <%= link_to "Join", channel_join_path(channel), method: :post, class: "our-button" %>
        <% else %>
          <%= link_to "Visit", channel_path(channel), class: "our-button" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
