<div class="home-container">
    <div class="title-description">
    <h2>Welcome back to <span>lovsquad</span>, @<%= current_user.username %>!</h2>
    <h3>Select a channel:</h3>
  </div>

  <div class="grid-homepage">
    <% @channels.each do |channel|  %>
    <div class="blog-card">
      <div class="image-searchcard">
        <%= cl_image_tag channel.photo.key %>
      </div>
      <div class="description">
        <h3> <%= channel.name %> </h3>
        <p> <%= channel.description %> </p>
        <% if current_user.channelusers.include?(Channeluser.find_by(channel_id: channel.id)) %>
          <%= link_to "Visit", channel_path(channel), class: "our-button" %>
        <% else %>
          <%= link_to "Join", channel_join_path(channel), method: :post, class: "our-button" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
