  <div>
    <% if @username %>
      <p>here is your username: <strong><%= @username %></strong></p>
    <% end %>
    <a href="https://api.instagram.com/oauth/authorize?client_id=425954065799626&redirect_uri=<%=ENV['INSTAGRAM_REDIRECT_URI']%>/code?=channel=<%=@channel.id%>&scope=user_profile,user_media&response_type=code">FB</a>
  </div>

<% @channel.posts.each do |post| %>
  <%= post.caption  %>
  <img src= <%= post.url %> alt="asdf" >
<% end %>


<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta charset="author" content="Rodinei Teixeira" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
      rel="stylesheet"
    />
    <link href="style.css" type="text/css" rel="stylesheet" />
    <title>Projeto Instagram</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo-header">
          <a href="#/"
            ><img
              src="https://logodownload.org/wp-content/uploads/2017/04/instagram-logo-1.png"
              alt=""
          /></a>
        </div>
        <!--logo-header-->

        <div class="search">
          <div class="search-box">
            <i class="fas fa-search"></i>
            <input placeholder="Pesquisar..." type="text" name="search" />
          </div>
          <!--search-box-->
        </div>
        <!--search-->

        <div class="notifications-icons">
          <a href="#/"><i class="far fa-bell"></i></a>
          <a href="#/"><i class="far fa-heart"></i></a>
          <div
            style="background-image: url('https://via.placeholder.com/150');"
            class="img-mini"
          ></div>
          <!--img-mini-->
        </div>
        <!--notifications-icons-->
      </div>
      <!--container-->
    </header>

    <section class="profile-description">
      <div class="container">
        <div class="img-profile-wraper">
          <div
            class="img-profile"
            style="background-image:url('https://instagram.fcgh12-1.fna.fbcdn.net/v/t51.2885-19/s150x150/45302107_1895490433882324_4122498035211042816_n.jpg?_nc_ht=instagram.fcgh12-1.fna.fbcdn.net&_nc_ohc=MgUUSjOGUlYAX-pLmdj&oh=e62167cf4ac382d906874f24e00d9609&oe=5EA1A8CE')"
          ></div>
          <!--img-profile-->
        </div>
        <!--img-profile-wraper-->
        <div class="profile-text">
          <div class="profile-name">
            <span>rodineiti</span>
            <a href="/#">Editar</a>
            <a href="/#"><i class="fas fa-cogs"></i></a>
          </div>
          <!--profile-name-->
        </div>
        <br /><br /><br />
        <!--profile-text-->
        <div class="profile-info">
          <p><strong>50</strong> publicações</p>
          <p><strong>50</strong> seguidores</p>
          <p><strong>50</strong> seguindo</p>
        </div>
        <br />
        <div class="profile-description">
          <h3>Rodinei Teixeira</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        </div>
        <!--profile-info-->
        <div class="clear"></div>
      </div>
      <!--container-->
    </section>
    <!--profile-description-->

    <section class="feed">
      <div class="container">
        <div class="line-feed">
          <div tab="publish" class="single-line-name">
            <div style="display:block;" class="line-mark"></div>
            <p style="font-weight:bold;">Publicações</p>
          </div>
          <div tab="igtv" class="single-line-name">
            <div style="width:40px;" class="line-mark"></div>
            <p>igtv</p>
          </div>
          <div tab="save" class="single-line-name">
            <div style="width:60px;" class="line-mark"></div>
            <p>salvos</p>
          </div>
          <div tab="marked" class="single-line-name">
            <div style="width:90px;" class="line-mark"></div>
            <p>marcados</p>
          </div>
        </div>
      </div>
    </section>
    <!--feed-->

    <section id="publish">
      <div class="container">
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
        <div class="clear"></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Publish);"
          class="publish-single"
        ></div>
      </div>
    </section>
    <!--publish-->

    <section id="igtv">
      <div class="container">
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
        <div class="clear"></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Igtv);"
          class="publish-single"
        ></div>
      </div>
    </section>
    <!--igtv-->

    <section id="save">
      <div class="container">
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
        <div class="clear"></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Saves);"
          class="publish-single"
        ></div>
      </div>
    </section>
    <!--save-->

    <section id="marked">
      <div class="container">
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
        <div class="clear"></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
        <div
          style="background-image: url(https://via.placeholder.com/500/00FFFF/808080/?text=Markeds);"
          class="publish-single"
        ></div>
      </div>
    </section>
    <!--marked-->
    <script src="script.js"></script>
  </body>
</html>
