<div class="new-reward-container">
  <h2>Create a reward for your channel!</h2>
  <div class="form-reward-container">
    <%= simple_form_for [@channel, @reward] do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :photo, as: :file %>
      <div class="create-button">
        <%= f.submit "Create reward", class: "btn our-button" %>
      </div>
    <% end %>
  </div>
</div>
