<div class="chatroom"
  data-controller="channel-subscription"
  data-channel-subscription-channel-id-value="<%= @channel.id %>"
  >
  <h3>#<%= @channel.name %>'channel</h3>
  <div class="messages" data-channel-subscription-target="messages">
    <% @channel.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [@channel, @message],
    remote: true,
    html: {data: {action: "ajax:success->channel-subscription#resetForm"}, class: "d-flex"} do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "type your message to ##{@channel.name}",
      wrapper_html: {class: "flex-grow-1 input-box"}
    %>
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
