<div class="creator-box">
  <div class="creator-photo">
    <%= cl_image_tag @channel.photo.key, class: "img", height: 80 %>
    <%# <img src="./assets/creator-photo.avif" alt="creator photo"> %>
  </div>
  <div class="creator-text">
    <h4>@<%= @channel.name %></h4>
    <p><b><%= @channel.channelusers.count %></b> fans</p>
  </div>
  <div class="creator-description">
    <h3 class="title-category">BIO</h3>
    <p class="bio-description"><%= @channel.description %></p>
  </div>
<%# to import from ali %>

  <% if @channel.user == current_user %>
    <%= link_to "Modify channel", edit_channel_path(@channel), class: "our-button" %>
  <% else %>
    <%= link_to "Unsubscribe", channeluser_path(Channeluser.find_by(user_id: current_user.id, channel_id: @channel.id )), method: :delete, data: {confirm: "Are you sure?"}, class: "our-button" %>
  <% end %>

</div>
