
<% if current_user == @channel.user %>
  <h1>Hi <strong><%= current_user.username %></strong> do you want to link your Instagram feed to Lovsquad?</p>
<% end %>
  <a href="https://api.instagram.com/oauth/authorize?client_id=425954065799626&redirect_uri=<%=ENV['INSTAGRAM_REDIRECT_URI']%>/code?=channel=<%=@channel.id%>&scope=user_profile,user_media&response_type=code">FB</a>
  </div>

<% @channel.posts.each do |post| %>
  <%= post.caption  %>
  <img src= <%= post.url %> alt="asdf" >
<% end %>
