<div class="feed-container">
  <div class="add-feed">
    <% if current_user == @channel.user && @channel.posts.nil? %>
      <h1>Hi <strong><%= current_user.username %></strong> Do you want to link your Instagram feed to Lovsquad?</h1>
      <a href="https://api.instagram.com/oauth/authorize?client_id=425954065799626&redirect_uri=<%=ENV['INSTAGRAM_REDIRECT_URI']%>/code?=channel=<%=@channel.id%>&scope=user_profile,user_media&response_type=code" class="our-button">
      Add your Instagram feed
      </a>
    <% end %>
  </div>
  <div class="feed-content">
    <% @channel.posts.each do |post| %>
      <div class="post-card">
        <div class= post-top>
          <%= cl_image_tag post.channel.user.profile_picture.key%>
          <h4><%= post.channel.user.username%></h4>
        </div>
        <div class="post-image">
          <img src= <%= post.url %> alt="asdf" >
        </div>
        <div class="post-bottom">
          <div class="caption">
          <p><%= post.caption %></p>
          </div>
          <div class="share-button" data-controller="coin">
            <div data-coin-target="url" class="d-none">
              <%= "https://www.facebook.com/share.php?u=https://lovsquad.com/posts/#{post.id}"%>
            </div>
            <%= link_to coin_path(Coin.find_by(user:current_user,channel:@channel), data: {action: "update"}), method: :patch do %>
              <i class="fas fa-coins" data-action="click->coin#update"></i>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
